<div class="navbar">
    <div class="tab">
        <a href='/'>Home</a>
    </div>
    <div class="tab">
        <a href='/search'>Search Project</a>
    </div>
    <div class="tab">
        Queries
    </div>
    <div class="tab">
        <a href='/addproject'>Add Project</a>
    </div>
    <div class="tab">
        Log Out
    </div>
</div>
<style>
    .navbar {
        display: flex;
        flex-direction: row;
        background-color: gray;
        color: white;
    }
    
    .tab {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>