<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMIRisk Admin</title>
    <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
</head>

<body>

    <%- include('partials/topbar')%>

        <%console.log(resultData) %>
            <br><br><br>
            <% if(resultData == 'success') {%>
                <h2>Added Successfully to database!</h2>
                <% }else if(resultData == 'fail'){%>
                    <h2>Project Already Exists!</h2>
                    <% } %>
                        <a href='/addproject'><button name="back2add">Add another one</button></a>
</body>

</html>