<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMIRisk Admin</title>
</head>

<body>

    <%- include('partials/topbar')%>


        <br><br><br>
        <h2>Added Successfully to database!</h2>
        <a href='/addproject'><button name="back2add">Add another one</button></a>
</body>

</html>