<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMIRisk Admin</title>
    <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
</head>

<body>
    <%- include('partials/topbar')%>
    
        <h1>Database</h1><br><br>.
        <table border="1">
            <tr>
                <th>Client Name</th>
                <th>Project</th>
                <th>Valuation Date</th>
            </tr>

            <%
        if(projectData.length!=0){
        var i=1;
        projectData.forEach(function(data){
        %>
                <tr>

                    <td>
                        <%=data.client_name %>
                    </td>
                    <td>
                        <%=data.project %>
                    </td>
                    <td>
                        <%=data.Valuation_date %>
                    </td>

                </tr>
                <%  i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="7">No Data Found</td>
                        </tr>
                        <% } %>
        </table>
</body>

</html>