<style>
    .srchbar {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
    
    .srchbutton {
        background-color: rgb(62, 62, 145);
        color: white;
    }
    
    #srch1 {
        margin-right: 5px;
    }
</style>
<%- include('partials/topbar')%>
    <h1>Search</h1><br><br>
    <form method="POST" action="/search" class="srchbar">
        <!--<input type="search" id="srch1" name="searchproj" placeholder="Search Project...">
        <button type="submit" class="srchbutton">Search</button>-->
        <label for="srchclients">Select client: </label><br>
        <select name="srchclients" id="srchclients">
            <option selected="selected">--SELECT CLIENT--</option>
            <% for(var i=0; i < dropdownData.length; i++) { %>
                <option>
                    <%= dropdownData[i].client_name %>
                </option>
              <%}%>
        </select>
        <button type="submit" class="srchbutton">Search</button>
    </form>